body {
  font-size: 0.875rem;
}

:root {
  --background:#04203b;
  --sidebar-text:#fff;
  --active-sidebar:#7fbef9;
  --logout-btn:#f74b4b;
  --logout-btn-hover:#f92a2a;
  --text-color: #7d84ab;
  --main: #b4bbe1;
  --secondary-text-color: #dee2ec;
  --bg-color: #0c1e35;
  --navbar: #143157;
  --secondary-bg-color: #0b1a2c;
  --border-color: rgba(#535d7d, 0.3);
}

.feather {
  width: 16px;
  height: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--sidebar-text);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #aeaeae;
}

.sidebar .nav-link.active {
  color: var(--active-sidebar);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.backg {
  background-color: var(--background) !important;
}

.user-avtar {
  width: 24px;
  transition: all 0.08s cubic-bezier(0.37, 0.24, 0.53, 0.99);
}

.pc-header .pc-h-dropdown.dropdown-menu-end {
  right: 0 !important;
  left: auto !important;
}

.logou {
  width: auto;
  padding: 0rem 1rem !important;
  background: transparent;
  font-size: 1.5rem;
  color: var(--background);
}

.log-ico {
  padding: 0.5rem !important;
  border: 1px solid var(--active-sidebar) !important;
  border-radius: 0.5rem;
}

.logou:hover {
  color: var(--logout-btn-hover);
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem !important;
  margin-bottom: 0;
  font-size: 0.765625rem;
  color: #6c757d;
  white-space: nowrap;
}

/* Remove input shadow and change border color */
.form-control:focus {
  box-shadow: none !important;
  border-color: var(--background) !important; /* Replace with your desired color */
}

.form-select:focus {
  box-shadow: none !important;
  border-color: var(--background) !important; /* Replace with your desired color */
}

.bg-c-red {
  background: var(--navbar);
}

.bg-c-green {
  background: var(--secondary-bg-color);
}

.total-card .text-left h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 22px;
}

.total-card .text-left p {
  color: #fff;
  font-size: 15px;
}

.text-left {
  text-align: left !important;
}

.total-card .value-badges {
  position: absolute;
  top: 10px;
  right: 5px;
}

.card .card-block {
  padding: 20px;
}

.text-c-red {
  color: #ff5252;
}

.text-c-green {
  color: #11c15b;
}

.card .card-block p {
  line-height: 1.4;
}

.label {
  border-radius: 4px;
  font-size: 75%;
  padding: 4px 7px;
  margin-right: 5px;
  font-weight: 400;
  color: #fff !important;
}

.order-visitor-card {
  transition: all 0.3s ease-in-out;
}

.order-visitor-card:hover {
  background: var(--navbar) !important;
  color: var(--main);
}

.f-icon {
  font-size: 30px !important;
}/*# sourceMappingURL=main.css.map */